<%- include('block_inicio') %>
<%- include('barra_menu') %>
<div class="container">
    
  
  <!--Resto dispositivos-->
  <div class="row d-none d-sm-block">
     <iframe src="https://www.google.com.ar" style="position:fixed; top:8.1%; left:0px; bottom:0px; right:0px; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;"></iframe>

   
    

  </div>

</div>
<br><br>
<%- include('block_end') %>


<style>




</style>



