<!--NavBar-->

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background:#048d04 !important;height:10% !important">
  <img src="/img/logo.png" alt="" class="ml-4"  width="3%">
  
  <!--<a class="navbar-brand" href="#" style="color:white;margin-left: 2%;font-size: 20px;">MINS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>-->
  

  <div class="collapse navbar-collapse" id="navbarSupportedContent" >
    <ul class="navbar-nav ml-auto" style="margin-right: 90%;">
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white">
       Sesión
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/logout">Cerrar Sesion</a>
        </div>
      </li>
    </ul>
  </div>

  

</nav>



