<%- include('block_inicio') %>
<%- include('barra_menu') %>


<!--Resto dispositivos-->
<div class="row d-none d-sm-block">
    <br><br>
  <div class="row d-flex justify-content-center" >
    <h2>CALIFICAR POR CRITERIOS</h2>
  </div>
  <br>
  <div class="col-sm-12 col-md-12">
      <!--<div class="row d-flex justify-content-center p-3">
        
       
        <div class="btn-group-vertical" style="width: 20%;" id="btn-container">
         </div>
         
        <div class="d-flex flex-column p-4" style="background:#6D89B2; border-radius: 15px;">

          <div class="row">
            <div class="col">
              <h4 class="white">Calificar por Criterios</h4>
              <button id="btn-concepto" class="btn btn-primary">Calificar</button>
            </div>
          </div>
          
        </div>

        
        
      </div>-->
      <br><br>
      
      <div class="d-flex justify-content-center">
      <div class="" style="width: 70%;">
        <table id="example" class="table table-bordered" style="text-align: center; 
        background: rgb(209, 207, 207);">
          <thead>
              <tr>
                  <th>ID MATERIA</th>
                  <th>MATERIA</th>
                  <th>CURSO</th>
                  <th>STATUS</th>
                  <th>ACCIÓN</th>
              </tr>
          </thead>
          <tbody id="t-body">
          </tbody>
      </table>
  
      </div>
    </div>
      
  </div>

</div>









<br><br>
<%- include('block_end') %>
<style>
.color-select{
    color:gray;
  }
.cursor{
    cursor: pointer;
  }
.fa-plus-circle:hover{
    color: rgb(75, 129, 211);
}
.fa-trash:hover{
  color: brown;
}

p{color: blue;}
.selected{background: burlywood;}
</style>

<script>
var id=''
var id_curso=''
var curso =''
var materia=''
var id_materia=''
var flag_tabla=''
//let btnConcepto = document.getElementById('btn-concepto')
let body_table = document.getElementById('t-body')


window.onload = ()=>{
 $.ajax({
    type:'GET',
    url:'/cursosAsignados',
    //data:{}
    }).done(async function(res){
          $.each(res,function(key,val){
            $('#btn-container').append(`<button id_materia='${val.id_materia}' materia='${val.materia}' id='${val.curso}' class='btn1 btn btn-primary mb-1'>${val.curso + ' '+ val.materia}</button>`)
          })//end each
    }).fail(async function(err){
      toastr.error('La Operacion NO Pudo Resolverse...', 'ERROR', { timeOut: 3000 })
      await sleep(2000)
      //window.location.reload()
    })

    $.ajax({
    type:'GET',
    url:'/getcriterios',
    //data:{}
    }).done(async function(res){
      body_table.innerHTML = ''
      res.forEach(e => {
              body_table.innerHTML += `<tr>
              <td idMateria="${e.id}">${e.id}</td>
              <td>${e.materia}</td>
              <td>${e.curso}</td>
              <td>${e.status}</td>
              <td>${Status(e.status,e.curso)}</td>
          <tr/>`
      })
    }).fail(async function(err){
      toastr.error('La Operacion NO Pudo Resolverse...', 'ERROR', { timeOut: 3000 })
      await sleep(2000)
      window.location.reload()
    })
}//end


//Boton add Criterio
$('body').on( 'click', '.btn2', function () {
  event.preventDefault()
 
  let curso = $(this).parents("tr").find("td").eq(2).text()
  let materia = $(this).parents("tr").find("td").eq(1).text()
  let id_materia = $(this).parents("tr").find("td").eq(0).text()

  $.ajax({
    type:'POST',
    url:'/showpage',
    data:{curso, materia, id_materia}
    }).done(async function(res){
      window.location = '/showcriterio'
    }).fail(async function(err){
      toastr.error('La Operacion NO Pudo Resolverse...', 'ERROR', { timeOut: 3000 })
      await sleep(2000)
      window.location.reload()
    })
})


//Boton borrar tabla
$('#example tbody').on( 'click', '.fa-trash', function () {
    id = $(this).parents("tr").find("td").eq(0).text()
    alert(id)
    /*if (confirm("UD. BORRARÁ EL ELEMENTO SELECCIONADO. ¿DESEA HACERLO?")) {
      Obj.ajaxConfigMsg('DELETE','/delete',{id}, 'SE BORRÓ CORRECTAMENTE',
      [{code:401, msg:'ERROR ON SERVER: TIPO DE DATO INCORRECTO...'},
      {code:402, msg:'ERROR ON SERVER: NO SE ENCONTRÓ ELEMENTO SELECCIONADO...'}])
    } else {
      return false
    }*/
})







//Funciones
const limpiar = () => {
  const $select = document.querySelector("#idSelectAlum");
  for (let i = $select.options.length; i >= 0; i--) {
    $select.remove(i);
  }
  //$select.innerHTML =  '<option selected disabled></option>'
}

function queCuatrimestreEs(){
  let mes = new Date()
  if((mes.getMonth() + 1) <= 7){
    return '1'
  }
  if((mes.getMonth() + 1) >= 8){
    return '2'
  }
}

function Status(val,curso){
if(val == 'Completo'){
  return `<div class='d-flex justify-content-center'>  
    <i  data-toggle='tooltip' data-placement='top' title='Borrar' class='cursor fa fa-trash fa-lg' aria-hidden='true'></i>
    </div>`
}else{
  return `<div class='d-flex justify-content-center'> 
    <i  data-toggle='tooltip' data-placement='top' title='Calificar por Criterio' class='btn2 cursor fas fa-plus-circle fa-lg icon mr-4'></i> 
    <i  data-toggle='tooltip' data-placement='top' title='Borrar' class='cursor fa fa-trash fa-lg' aria-hidden='true'></i>
    </div>`
}
}//end

function BorrarBtns(){
  curso=''
  materia=''
  id_materia=''
}
 </script>