<%- include('block_inicio') %>
<%- include('barra_menu') %>
<div class="container">
    
  <!--Mobile first-->
  <div class="d-block d-sm-none">
    <br>
    <div class="row d-flex justify-content-center" >
      <h4>EDITAR CONCEPTOS</h4>
    </div>
    <br>

  </div>



  <!--Resto dispositivos-->
  <div class="row d-none d-sm-block">
      <br><br>
    <div class="row d-flex justify-content-center" >
      <h2>INFO ALUMNOS</h2>
    </div>
    <br><br><br>

   
    <div class="d-flex justify-content-center">
      
      <div class="mt-2" style="width: 100%;">
        <table id="example" class="table table-bordered" style="text-align: center; 
        background: rgb(209, 207, 207);">
          <thead>
              <tr>
                  <th>ID</th>
                  <th>APELLIDO</th>
                  <th>NOMBRE</th>
                  <th>DNI</th>
                  <th>CURSO</th>
                  <th>MATERIA</th>
                  <th>ACCIÓN</th>
              </tr>
          </thead>
          <tbody>
          </tbody>
      </table>
  
      </div>
    </div>


</div>

<br><br>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">CONCEPTOS/NOTAS CARGADOS</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="content_modal">
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<%- include('block_end') %>


<style>
img{cursor:pointer;}

.cursor{
    cursor: pointer;
  }
.fa-search:hover{
    color: rgb(75, 129, 211);
}



</style>

<script>




//Muestra la tabla
$('#example').DataTable({
    ajax: "/getAlumnos",
    language: {url: "//cdn.datatables.net/plug-ins/1.10.20/i18n/Spanish.json"},
    order: [[ 4, "asc" ]],
    columns: [
            { "data": "id" },
            { "data": "last_name" },
            { "data": "name" },
            { "data": "dni" },
            { "data": "curso" },
            { "data": "materia" },
            {
            "defaultContent": "<div class='d-flex justify-content-center'> <i data-toggle='tooltip' data-placement='top' title='Ver' class='cursor fas fa-search fa-lg icon'></div>"
            }
            ],
})//end tabla

 
 //Selecciona elementos en tabla Borrar
$('#example tbody').on( 'click', '.fa-search', function () {
    $('#content_modal').html('')
    let id = $(this).parents("tr").find("td").eq(0).text()
    let materia = $(this).parents("tr").find("td").eq(5).text()

   
    $.ajax({
    type:'POST',
    url:'/getObs2',
    data:{id, materia}
    }).done(async function(res){
      $('#content_modal').html('')
      
      if(res[0].nota === ''){
      $.each(res,function(key,val){
        
        $('#content_modal').append(`<div>
         <h5 style="color:#179AF5">COMPRENCIÓN LECTORA</h5>
         <ul>
           <li>Criterio: Estabiece relaciones entre ideas y/o conceptos respecto de un teme.</li>
           <li>Desempeño: ${val.cl1}</li>
           <li style="margin-top:2%">Criterio: Identifica ideas principaies y secundarias de un texto.</li>
           <li>Desempeño: ${val.cl2}</li>
           <li style="margin-top:2%">Criterio: Estabiece relaciones entre ideas y/o conceptos respecto de un teme.</li>
           <li>Desempeño: ${val.cl3}</li>
           <li style="margin-top:2%">Criterio: Comprende consignas orales y escritas.</li>
           <li>Desempeño: ${val.cl4}</li>
         </ul>
       </div>
       <br>
       <div>
         <h5 style="color:#179AF5">PRODUCCIÓN DE TEXTOS ORALES Y ESCRITOS</h5>
         <ul>
           <li>Criterio: Redacta de manera autónoma un texto coherente y cohesivo.</li>
           <li>Desempeño: ${val.pdtoye1}</li>
           <li style="margin-top:2%">Criterio: Resume un texto breve.</li>
           <li>Desempeño: ${val.pdtoye2}</li>
           <li style="margin-top:2%">Criterio: Utiliza diferentes herramientas para organizar sus ideas(cuadros, diagramas, esquemas, mapas mentales, mapas conceptuales, etc.)
            </li>
           <li>Desempeño: ${val.pdtoye3}</li>
           <li style="margin-top:2%">Criterio: Diagrama una exposición oral breve. </li>
           <li>Desempeño: ${val.pdtoye4}</li>
         </ul>
       </div>
       <br>
       <div>
         <h5 style="color:#179AF5">RESOLUCIÓN DE PROBLEMAS</h5>
         <ul>
           <li>Criterio: Reconoce las variables de una situación problemática.</li>
           <li>Desempeño: ${val.rdp1}</li>
           <li style="margin-top:2%">Criterio: Elabora conjeturas de acuerdo con los datos que presenta la situación.</li>
           <li>Desempeño: ${val.rdp2}</li>
           <li style="margin-top:2%">Criterio: Plantea y explora diferentes estrategias de solución.</li>
           <li>Desempeño: ${val.rdp3}</li>
           <li style="margin-top:2%">Criterio: Describe los pasos de resolución.</li>
           <li>Desempeño: ${val.rdp4}</li>
           <li style="margin-top:2%">Criterio: Interpreta y evalua las posibles soluciones.</li>
           <li>Desempeño: ${val.rdp5}</li>
         </ul>
       </div>
       <br>
       <div>
         <h5 style="color:#179AF5">PENSAMIENTO CRÍTICO</h5>
         <ul>
           <li>Criterio: Elabora una argumentación autónoma en torno a situaciones complejas.</li>
           <li>Desempeño: ${val.pc1}</li>
           <li style="margin-top:2%">Criterio: Identifica y reconose argumentos diferentes del suyo.</li>
           <li>Desempeño: ${val.pc2}</li>
           <li style="margin-top:2%">Criterio: Reconoce la validez o falacia de una afirmación.</li>
           <li>Desempeño: ${val.pc3}</li>
           <li style="margin-top:2%">Criterio: Contra argumenta posicionamientos diferentes. </li>
           <li>Desempeño: ${val.pc4}</li>
         </ul>
       </div>
       <br>
       <div>
         <h5 style="color:#179AF5">HABILIDADES SOCIALES - TRABAJO CON OTROS</h5>
         <ul>
           <li>Criterio: Manifesta actitudes propicias para trabajar con sus pares.</li>
           <li>Desempeño: ${val.hs1}</li>
           <li style="margin-top:2%">Criterio: Demuestra solidaridad y empatía ente las personas que lo requieren. </li>
           <li>Desempeño: ${val.hs2}</li>
           <li style="margin-top:2%">Criterio: Puede brindar o pedir ayuda a sus pares para elaborar sus producciones.</li>
           <li>Desempeño: ${val.hs3}</li>
           <li style="margin-top:2%">Criterio: Participa en propuestas que requieran la conformación de equipos. </li>
           <li>Desempeño: ${val.hs4}</li>
         </ul>
       </div>`)
      })
      }else{
        $('#content_modal').append(`<div>
          <h5 style="color:#179AF5">NOTA</h5>
          <p>${res[0].nota}</p>
          </div>`)
      }
    }).fail(async function(err){
      toastr.error('La Operacion NO Pudo Resolverse...', 'ERROR', { timeOut: 3000 })
      await sleep(2000)
      window.location.reload()
    })

    $('#myModal').modal('show')
    
})





function Valoracion(val){
  if(val.cl1 === ''){
    return 'Positiva'
  }
  
}





  
</script>