<%- include('block_inicio') %>
<%- include('barra_menu') %>


<!--Resto dispositivos-->
<div class="row d-none d-sm-block">
    <br><br>
  <div class="row d-flex justify-content-center" >
    <h2>CALIFICAR POR NOTA</h2>
  </div>
  <br><br>
  <div class="col-sm-12 col-md-12">
      <div class="row d-flex justify-content-around p-3">
        
        <!--bOTONES CURSO-->
        <div class="btn-group-vertical" style="width: 20%;" id="btn-container">
         </div>
         
         <div class="p-2" style="width: 20%; background:#6D89B2; border-radius: 15px;">
          <div class="form-group" style="text-align: center;">
            <label for="select1" class="white">ALUMNOS</label>
            <select id="idSelectAlum" class="custom-select">
              
            </select>
          </div>
        </div>

        
        <div class="d-flex flex-column p-4" style="background:#6D89B2; border-radius: 15px;">

          <div class="row">
            <div class="col">
              <h4 class="white">Calificar con Nota</h4>
              <button id="btn-nota" class="btn btn-primary">Calificar</button>
            </div>
          </div>
          
        </div>

        
        
      </div>
      <br><br><br>
      
      <div class="d-flex justify-content-center">
      <div class="" style="width: 70%;">
        <table id="example" class="table table-bordered" style="text-align: center; 
        background: rgb(209, 207, 207);">
          <thead>
              <tr>
                  <th>ID</th>
                  <th>ALUMNO/A</th>
                  <th>CURSO</th>
                  <th>MATERIA</th>
                  <th>ACCIÓN</th>
              </tr>
          </thead>
          <tbody>
          </tbody>
      </table>
  
      </div>
    </div>
      
  </div>

</div>


<br><br>
<%- include('block_end') %>
<style>
.color-select{
    color:gray;
  }
.cursor{
    cursor: pointer;
  }
.fa-search:hover{
    color: rgb(75, 129, 211);
}
.fa-trash:hover{
  color: brown;
}

p{color: blue;}
.selected{background: burlywood;}
</style>

<script>
var id;
var id_curso;
var materia;
var id_materia;
let btnNota = document.getElementById('btn-nota')
let nota = document.getElementById('nota')
let id_combo = document.getElementById('idSelectAlum')

window.onload = ()=>{
  $.ajax({
    type:'GET',
    url:'/cursosAsignados',
    //data:{}
    }).done(async function(res){
          $.each(res,function(key,val){
            $('#btn-container').append(`<button id_materia='${val.id_materia}' materia='${val.materia}' id='${val.curso}' class='btn btn-primary mb-1'>${val.curso + ' '+ val.materia}</button>`)
          })//end each
    }).fail(async function(err){
      toastr.error('La Operacion NO Pudo Resolverse...', 'ERROR', { timeOut: 3000 })
      await sleep(2000)
      //window.location.reload()
    })
}//end

//Muestra la tabla
/*$('#example').DataTable({
    ajax: "/conceptos",
    language: {url: "//cdn.datatables.net/plug-ins/1.10.20/i18n/Spanish.json"},
    order: [[ 2, "asc" ]],
    columns: [
            { "data": "_id" },
            { "data": "alumno" },
            { "data": "curso" },
            { "data": "materia" },
            {
            "defaultContent": "<div class='d-flex justify-content-center'> <i  data-toggle='tooltip' data-placement='top' title='Ver' class='cursor fas fa-search fa-lg icon mr-4'></i> <i data-toggle='tooltip' data-placement='top' title='Borrar' class='cursor fa fa-trash fa-lg' aria-hidden='true'></i></div>"
            }],
})//end tabla*/

//Click botones de cursos
$('body').on( 'click', '.btn', function () {
  id_curso = this.getAttribute("id")
  materia = this.getAttribute("materia")
  id_materia = this.getAttribute('id_materia')
  limpiar()
  Obj.cargarSelectConAjax('POST','/alumnos',{curso:id_curso,materia},'#idSelectAlum')
})


btnNota.onclick = () => {
  if ($("#idSelectAlum option:selected").val() == 'Seleccione...' || id_combo.length === 0) {alert('ERROR: DEBE SELECCIONAR UN ALUMNO...'); return false}
  
  let alumno = $("#idSelectAlum option:selected").val()
  $.ajax({
    type:'POST',
    url:'/calificar2',
    data:{id_alumno:alumno, id_materia}
    }).done(async function(res){
      window.location.href = '/cargarNota'
    }).fail(async function(err){
      toastr.error('La Operacion NO Pudo Resolverse...', 'ERROR', { timeOut: 3000 })
      await sleep(2000)
      window.location.reload()
    })
}//end

//Selecciona elementos en tabla Borrar
$('#example tbody').on( 'click', '.fa-trash', function () {
    id = $(this).parents("tr").find("td").eq(0).text()
    
    if (confirm("UD. BORRARÁ EL ELEMENTO SELECCIONADO. ¿DESEA HACERLO?")) {
      Obj.ajaxConfigMsg('DELETE','/delete',{id}, 'SE BORRÓ CORRECTAMENTE',
      [{code:401, msg:'ERROR ON SERVER: TIPO DE DATO INCORRECTO...'},
      {code:402, msg:'ERROR ON SERVER: NO SE ENCONTRÓ ELEMENTO SELECCIONADO...'}])
    } else {
      return false
    }
})

//Selecciona elementos en tabla Ver
$('#example tbody').on( 'click', '.fa-search', function () {
    id = $(this).parents("tr").find("td").eq(0).text()
    
    $.ajax({
    type:'POST',
    url:'/datosModal',
    data:{id}
    }).done(async function(res){
      console.log(res)
      if(res[0].nota === ''){
        cl1.innerHTML = res[0].cl1
        cl2.innerHTML = res[0].cl2
        cl3.innerHTML = res[0].cl3
        cl4.innerHTML = res[0].cl4
        pdtoye1.innerHTML = res[0].pdtoye1
        pdtoye2.innerHTML = res[0].pdtoye2
        pdtoye3.innerHTML = res[0].pdtoye3
        pdtoye4.innerHTML = res[0].pdtoye4
        rdp1.innerHTML = res[0].rdp1
        rdp2.innerHTML = res[0].rdp2
        rdp3.innerHTML = res[0].rdp3
        rdp4.innerHTML = res[0].rdp4
        rdp5.innerHTML = res[0].rdp5
        pc1.innerHTML = res[0].pc1
        pc2.innerHTML = res[0].pc2
        pc3.innerHTML = res[0].pc3
        pc4.innerHTML = res[0].pc4
        hs1.innerHTML = res[0].hs1
        hs2.innerHTML = res[0].hs2
        hs3.innerHTML = res[0].hs3
        hs4.innerHTML = res[0].hs4
        $('#myModal').modal('show')
      }else{
        nota.innerHTML ='Nota: '+res[0].nota
        $('#myModal2').modal('show')
      }
      

      
    }).fail(async function(err){
      toastr.error('La Operacion NO Pudo Resolverse...', 'ERROR', { timeOut: 3000 })
      await sleep(2000)
      //window.location.reload()
    })

    
})









//Funciones
const limpiar = () => {
  const $select = document.querySelector("#idSelectAlum");
  for (let i = $select.options.length; i >= 0; i--) {
    $select.remove(i);
  }
  //$select.innerHTML =  '<option selected disabled></option>'
}

function queCuatrimestreEs(){
  let mes = new Date()
  if((mes.getMonth() + 1) <= 7){
    return '1'
  }
  if((mes.getMonth() + 1) >= 8){
    return '2'
  }
}
 </script>