<%- include('block_inicio') %>
<%- include('barra_menu') %>
<div class="container">
    
  
  <!--Resto dispositivos-->
  <div class="row d-none d-sm-block">
    
    <a href="/login" class="btn btn-primary">Salir</a>
    

  </div>

</div>
<br><br>
<%- include('block_end') %>


<style>




</style>



